*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
body{
    background-image: url('b.svg'); 
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.main p{
    color: rgb(0, 0, 0);
    margin: 14px;
    margin-top: 0;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
.fold {
    margin-top: 7px;
    cursor: pointer;
    margin-left: 7px;
}
.taskbar{
    background-color: #292929;
    width: 100%;
    gap: 13px;
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 110;
    justify-content: left;
}

.startmenu{
    position: absolute; 
    bottom: -655px;
    width: 100%;
    text-align: left;
    transition: all 0.4s ease-out; 
}

.startmenu img{
    border-radius: 12px;
}

.xp{
    position: absolute; 
    bottom: -655px;
    cursor: pointer;
    text-align: left;
}

.xp img{
    border-radius: 12px;
    display: block;
    margin-left: 500px;
    margin-right: auto;
}
.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}  
.icons{
    color: white;
}
img {
    cursor: pointer;
}
.trash p{
    margin: 6px;
    font-size: 15px;
    margin-top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}